<h1>Basic informations</h1>
<br/>
<p>
  Name: {{companyData?.name}}
</p>

<p>
  Description: {{companyData?.summary}}
</p>

<p>
  Founder: {{companyData?.founder}}
</p>

<p>
  Founded: {{companyData?.founded}}
</p>

<p>
  Employees: {{companyData?.employees}}
</p>

<p>
  Vehicles: {{companyData?.vehicles}}
</p>

<p>
  Launch sites: {{companyData?.launch_sites}}
</p>

<p>
  CEO: {{companyData?.ceo}}
</p>

<p>
  CTO: {{companyData?.cto}}
</p>

<p>
  COO: {{companyData?.coo}}
</p>

<p>
  CTO propulsion: {{companyData?.cto_propulsion}}
</p>

<p>
  Valuation: {{companyData?.valuation}}$
</p>

<br/>
<h2>Headquarters informations</h2>
<br/>

<p>
  Address: {{companyData?.headquarters.address}}
</p>

<p>
  City: {{companyData?.headquarters.city}}
</p>

<p>
  State: {{companyData?.headquarters.state}}
</p>
