<mat-tab-group>
  <mat-tab label="All launches">
    <div id="filter-section">
      <form (submit)="applyFilter()">
        <label for="start_date">
          Start date
          <input id="start_date" type="date" name="start_date" [(ngModel)]="filters.startDate">
        </label>
        <label for="end_date">
          End date
          <input id="end_date" type="date" name="end_date" [(ngModel)]="filters.endDate">
        </label>
        <div>
          ASC <input type="radio" name="order" value="asc" (change)="changeOrderFilter('asc')" [checked]="this.filters.order === 'asc'">
          DESC <input type="radio" name="order" value="desc" (change)="changeOrderFilter('desc')" [checked]="this.filters.order === 'desc'">
        </div>
        search by launchpad
        <select [(ngModel)]="this.filters.site_id" name="site_id">
          <option value="" [selected]="this.filters.site_id === ''">All</option>
          <option *ngFor="let launchpad of launchpads" [value]="launchpad.id" [selected]="this.filters.site_id === launchpad.id">{{ launchpad.full_name }}</option>
        </select>
        <br>
        search by rocket
        <select [(ngModel)]="this.filters.rocket_id" name="rocket_id">
          <option value="" [selected]="this.filters.rocket_id === ''">All</option>
          <option *ngFor="let rocket of rockets" [value]="rocket.id" [selected]="this.filters.rocket_id === rocket.id">{{ rocket.name }}</option>
        </select>
        <br>
        <input type="submit" value="Apply">
        <button (click)="reset()">Reset</button>
      </form>
    </div>
    <div class="flexCardContainer">
      <mat-spinner *ngIf="!launches"></mat-spinner>
      <app-launch *ngFor="let launch of launches" [launch]="launch"></app-launch>
    </div>
  </mat-tab>
  <mat-tab label="Upcoming launch">
    <div style="height: 50px;"></div>
    <div class="flexCardContainer">
      <mat-spinner *ngIf="!upcomingLaunch"></mat-spinner>
      <app-launch *ngFor="let launch of upcomingLaunch" [launch]="launch"></app-launch>
    </div>
  </mat-tab>
  <mat-tab label="Next launch">
    <div style="height: 50px;"></div>
    <div class="flexCardContainer">
      <mat-spinner *ngIf="!nextLaunch"></mat-spinner>
      <app-launch *ngIf="nextLaunch" [launch]="nextLaunch"></app-launch>
    </div>
  </mat-tab>
  <mat-tab label="Latest launch">
    <div style="height: 50px;"></div>
    <div class="flexCardContainer">
      <mat-spinner *ngIf="!latestLaunch"></mat-spinner>
      <app-launch *ngIf="latestLaunch" [launch]="latestLaunch"></app-launch>
    </div>
  </mat-tab>
</mat-tab-group>




<router-outlet></router-outlet>

