<mat-tab-group>
  <mat-tab>

    <ng-template mat-tab-label>
      All launch
      <mat-icon matBadge="{{ launches?.length }}" matBadgeColor="warn"></mat-icon>
    </ng-template>

    <mat-card class="filterCard">
      <mat-card-header>
        <mat-card-title>Filtering</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input type="date" matInput placeholder="Start date" name="start_date" [(ngModel)]="filters.startDate">
        </mat-form-field>
        <mat-form-field>
          <input type="date" matInput placeholder="End date" name="end_date" [(ngModel)]="filters.endDate">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-select placeholder="Filter by specific launchpad" [value]="" [(ngModel)]="this.filters.site_id" name="site_id">
            <mat-option value="" value="">All</mat-option>
            <mat-option *ngFor="let launchpad of launchpads" [value]="launchpad.id">{{ launchpad.full_name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Filter by specific rocket" [value]="" [(ngModel)]="this.filters.rocket_id" name="rocket_id">
            <mat-option value="" value="">All</mat-option>
            <mat-option *ngFor="let rocket of rockets" [value]="rocket.id">{{ rocket.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <mat-radio-group>
          <mat-radio-button value="asc" (change)="changeOrderFilter('asc')" [checked]="this.filters.order === 'asc'">ASC</mat-radio-button>
          <mat-radio-button value="desc" (change)="changeOrderFilter('desc')" [checked]="this.filters.order === 'desc'">DESC</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="applyFilter()">APPLY</button>
        <button mat-button (click)="reset()">RESET</button>
      </mat-card-actions>
    </mat-card>

    <div class="flexCardContainer">
      <mat-spinner *ngIf="!launches"></mat-spinner>
      <h3 *ngIf="launches?.length === 0">No results were found</h3>
      <app-launch *ngFor="let launch of launches" [launch]="launch"></app-launch>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Upcoming launch
      <mat-icon matBadge="{{ upcomingLaunch?.length }}" matBadgeColor="warn"></mat-icon>
    </ng-template>
    <div style="height: 50px;"></div>
    <div class="flexCardContainer">
      <mat-spinner *ngIf="!upcomingLaunch"></mat-spinner>
      <app-launch *ngFor="let launch of upcomingLaunch" [launch]="launch"></app-launch>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Next launch
      <mat-icon matBadge="1" matBadgeColor="warn"></mat-icon>
    </ng-template>
    <div style="height: 50px;"></div>
    <div class="flexCardContainer">
      <mat-spinner *ngIf="!nextLaunch"></mat-spinner>
      <app-launch *ngIf="nextLaunch" [launch]="nextLaunch"></app-launch>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Latest launch
      <mat-icon matBadge="1" matBadgeColor="warn"></mat-icon>
    </ng-template>
    <div style="height: 50px;"></div>
    <div class="flexCardContainer">
      <mat-spinner *ngIf="!latestLaunch"></mat-spinner>
      <app-launch *ngIf="latestLaunch" [launch]="latestLaunch"></app-launch>
    </div>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
