.mat-card-actions {
  position: absolute;
  bottom: 0;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0;
}

.launch-header-image {
  background-size: cover;
}

.landing-success {
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  background: #2ecc71;
}

.landing-failure {
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  background: #e74c3c;
}

.launch-card {
  width: 300px;
  margin-bottom: 20px;
  min-height: 100px;
}
