<mat-card class="launch-card">
  <mat-card-header>
    <div *ngIf="launch.links.mission_patch_small" mat-card-avatar class="launch-header-image" [style.background-image]="'url('+ launch.links.mission_patch_small +')'"></div>
    <div *ngIf="!launch.links.mission_patch_small" mat-card-avatar class="launch-header-image" style="background: #eceff1"></div>
    <mat-card-title>{{ launch.mission_name }}
      <span [ngSwitch]="launch.rocket.first_stage.cores[0].land_success">
        <span class="landing-success" *ngSwitchCase="true">SUCCEED</span>
        <span class="landing-failure" *ngSwitchCase="false">FAILURE</span>
        <span class="landing-unknown" *ngSwitchCase="">UNKNOWN</span>
      </span>
    </mat-card-title>
    <mat-card-subtitle>Launch #{{ launch.flight_number }}</mat-card-subtitle>
    <mat-card-subtitle>{{ launch.launch_date_utc | date: 'MMMM dd yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button routerLink="{{ launch.flight_number }}" mat-button>VIEW MORE</button>
    <button *ngIf="launch.links.video_link" (click)="openYoutubeDialog(launch)" mat-button>VIDEO</button>
  </mat-card-actions>
</mat-card>
