<mat-card class="launchpad-card">
  <mat-card-header>
    <mat-card-title>{{ launchpad.full_name }}
        <span [ngSwitch]="launchpad.status">
            <span class="launchpad-active" *ngSwitchCase="'active'">ACTIVE</span>
            <span class="launchpad-retired" *ngSwitchCase="'retired'">RETIRED</span>
            <span class="launchpad-construction" *ngSwitchCase="'under construction'">UNDER CONSTRUCTION</span>
        </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ launchpad.details }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="openDialog(launchpad)" mat-button>VIEW ON MAP</button>
  </mat-card-actions>
</mat-card>
