.launchpads {
  width: calc((100% / 4) - 40px);
  background: green;
  height: 330px;
  float: left;
  margin: 20px;
}

#filter-section {
  height: 200px;
}

#mission_patch {
  width: 20%;
}

.launchpad-popup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 85%;
  margin: auto;
  background: blue;
  height: 300px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.launchpad-card {
  width: 500px;
  margin: 10px;
  min-height: 100px;
  min-height: 200px;
}

.launchpad-active {
  padding: 5px;
  color: #FFF;
  background: #2ecc71;
}

.launchpad-retired {
  padding: 5px;
  color: #FFF;
  background: #e74c3c;
}

.launchpad-construction {
  padding: 5px;
  color: #FFF;
  background: #fbc02d;
}

span[class^="launchpad"] {
  position: absolute;
  top: 5px;
  right: 5px;
}

.mat-card-title {
  max-width: 80%;
}

.mat-card-actions {
  margin-bottom: 0 !important;
  position: absolute;
  bottom: 0;
}