<!--<div class="launchpads" (click)="openDialog(launchpad)">
  <p>Name: {{ launchpad.full_name }}</p>
  <br/>
  <p>Details: {{ launchpad.details }}</p>
  <br/>
  <p>Status: {{ launchpad.status }}</p>
  <p>Vehicles: {{ launchpad.vehicles_launched}}</p>
</div>

<div class="launchpad-popup-container" *ngIf="popup">
  <span class="close" (click)="closePopup()">X</span>
  <p>Launchpad's name : {{ launchpad.full_name }}</p>
  <p>Details : {{ launchpad.details }}</p>
  <app-googlemaps [lat]=launchpad.location.latitude [lng]=launchpad.location.longitude></app-googlemaps>
  <a routerLink="{{ launchpad.id}}">SEE MORE</a>
</div>-->

<mat-card class="launchpad-card">
  <mat-card-header>
    <mat-card-title>{{ launchpad.full_name }}
      
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ launchpad.details }}</p>
    <div [ngSwitch]="launchpad.status">
        <p class="launchpad-active" *ngSwitchCase="active">active</p>
        <p class="launchpad-retired" *ngSwitchCase="retired">retired</p>
        <p class="launchpad-construction" *ngSwitchCase="under construction">under construction</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a href="/launchpad/{{ launchpad.id }}" mat-button>VIEW MORE</a>
  </mat-card-actions>
</mat-card>
