<div id="filter-section"></div>

<mat-spinner style="margin: auto; margin-top: 50px;" *ngIf="!launchPads"></mat-spinner>
<div *ngFor="let launchpad of launchPads">
  <app-launchpad [launchpad]="launchpad" (click)="openPopup(launchpad)"></app-launchpad>
</div>
<div id="launchpad-popup-container" *ngIf="launchpadPopupContent">
  <span class="close" (click)="closePopup()">X</span>
  <p>Launchpad's name : {{ launchpadPopupContent.full_name }}</p>
  <p>Details : {{ launchpadPopupContent.details }}</p>
  <app-googlemaps [lat]=launchpadPopupContent.location.latitude [lng]=launchpadPopupContent.location.longitude></app-googlemaps>
  <a routerLink="{{ launchpadPopupContent.id}}">SEE MORE</a>
</div>
<router-outlet></router-outlet>
